<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OOP4200_Final_Project.Properties.Settings.ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Markus\Desktop\Durham College\Sem 4\OPP3\Working- Visual side\OOP4200 Final Project\dbPokerLogs.mdf&quot;;Integrated Security=True" />
    </connectionStrings>
</configuration>